@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto';
  color: #fff;
  background-color: rgb(25, 25, 25);
}

header h1 {
  margin-top: 30px;
}

.container {
  width: 500px;
  height: 120px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.box {
  background: white;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.group {
  width: 90%;
  height: 80px;
  margin: auto;
  position: relative;
}

label {
  position: absolute;
  top: 20px;
  left: 0;
  color: rgba(103, 58, 184, 0.4);
  font: 400px 40px Roboto;
  letter-spacing: 1px;
  cursor: text;
  will-change: left;
  transition: 0.3s, left 0.75s;
}

label span {
  display: inline-block;
  will-change: transform;
  transition: 0.4s ease;
}

label span:nth-child(1) {
  transition-delay: 0.04s;
}

label span:nth-child(2) {
  transition-delay: 0.08s;
}

label span:nth-child(3) {
  transition-delay: 0.12s;
}

label span:nth-child(4) {
  transition-delay: 0.16s;
}

label span:nth-child(5) {
  transition-delay: 0.2s;
}

label span:nth-child(6) {
  transition-delay: 0.24s;
}

label span:nth-child(7) {
  transition-delay: 0.28s;
}

label span:nth-child(8) {
  transition-delay: 0.32s;
}

input {
  display: block;
  width: 100%;
  padding: 20px 0 15px 0;
  color: #673ab7;
  background: transparent;
  font-size: 24px;
  border: 0;
  outline: 0;
  transition: 0.3s ease;
}

input:focus ~ label,
input:valid ~ label {
  letter-spacing: -5.5%;
}

input:focus ~ label span,
input:valid ~ label span {
  color: white;
  font: 700 27.27273px Roboto;
  transform: translateY(-200%);
}

input:focus ~ .bar,
input:valid ~ .bar {
  height: 4px;
}

input:focus ~ .close,
input:valid ~ .close {
  opacity: 1;
  visibility: visible;
}

.bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: grey;
  transition: 0.3s ease;
}

footer {
  color: lightgray;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: 20px;
  z-index: 3;
}

footer p span {
  margin: 0 3px;
}

footer p a {
  color: #fff;
  margin: 0 3px;
}
