@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  min-height: 100vh;
  color: #000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  position: absolute;
  top: 30px;
  z-index: 1111;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  background: #fff;
  font-size: 30vw;
  line-height: 100vh;
  text-align: center;
  text-transform: uppercase;
  mix-blend-mode: screen;
}

footer {
  position: absolute;
  bottom: 20px;
  color: #000;
  font-size: 14px;
  text-align: center;
}

footer p span {
  margin: 0 3px;
}

footer p a {
  margin: 0 3px;
}
